.container{
    background-color: rgb(244, 220, 9);
    margin: 4%;
    height: 100%;
}

h1{
    font-weight: 600;
}

img{
    position: absolute;
    left: 6%;
    width: 30%;
}

.row div{
    padding-top: 5%;
}

button{
    border: 2px solid gray;
    background-color: transparent;
    width: 40%;
    color: gray;
    font-size: 24px;
    margin-bottom: 10%;
}